---
import Layout from '../Layouts/Layout.astro';
---
<Layout heading="Amateur Radio">
	<div id="about" class="flex justify-center bg-zinc-900">
		<div class="flex flex-col items-center py-10">
			<div class="text-2xl text-white font-Sometype font-bold">Summary</div>
			<hr class="w-16 h-0.5 my-2 border-0 bg-gray-500">
			<div class="pt-4 lg:px-[30%] px-10 text-gray-300">
				<div class="font-Sometype whitespace-pre-line">
					MUNStar-1 has been established to support student learning in communications principles and space systems through Memorial University's Faculty of Engineering and Applied Science. One of the focal points of MUNStar-1 is promoting enthusiasm in amateur radio use, which is synergistic with Communications Principles courses taught at the faculty. Course content offered through Memorial University is relevant in the context of providing preparation to any amateur radio courses taken by the students. The MUNStar-1 design team actively promotes course offerings made through Radio Amateurs Canada for students to obtain their Amateur Radio Operator Certificate. Memorial is also in partnership with the IEEE Student Branch to offer free amateur radio training and an opportunity to obtain the Amateur Radio Operator Certification.

					As a result of the team’s activities, many individuals involved with the project will obtain their amateur certificates and operate the spacecraft, including both students and supervisors. One of the mission goals is to have a fully operational ground station, which will be able to support amateur UHF communications. The ground station equipment is being purchased from COTS providers, but the assembly, configuration, and integration will be performed by students of the MUNStar-1 team. Upon launch, amateur certified students will be satellite operators. Amateur data received from the spacecraft will be published on the MUNStar-1 website. 

					MUNStar-1 will also devote more than 50% of the satellite’s orbital time to amateur radio activities. The MUNStar-1 team will incorporate functionality into the satellite, specifically for use by the amateur radio community. After satellite Launch and Early Operations Phase (LEOP), specific orbits will be published in the MUNStar-1 Website for use for the amateur radio community. MUNStar-1 will target ITU Zone 2 for these activities.

					The MUNStar-1 team will implement a UHF digipeater function within the satellite. The digipeater will be designed to receive AX.25 formatted packets and retransmit those packets on the same frequency after a short delay. Specific orbits will be designated for exclusive use by the amateur radio community in ITU Region 2. At least 50% of available orbits will be made available for this purpose. The design will rely on functionality already built into the satellite for packet radio. The radio packet structure used by the MUNStar-1 radio contains a preamble, a sync word, payload (separated in two data fields) and CRC16, depicted in the figure below. In addition to the digipeater, the MUNStar-1 satellite will enable a beacon function within its radio that can be tracked by amateur radio enthusiasts. The MUNStar-1 UHF module has the capability to transmit both text and audio beacons. The MUNStar-1 team will use the text beacon functionality, which is encoded with the AX.25 protocol. The beacon will be particularly useful during LEOP.
				</div>
			</div>
		</div>
	</div>
</Layout>
